@corPrimaria: #00E5FF;      // Títulos - ciano elétrico, vibrante e moderno
@corDoTexto: #E3F2FD;       // Texto - quase branco com leve azul, excelente contraste
@corSecundaria: #9DBCD4;      // Subtítulo - tom frio, combina com o metálico
@corDestaque: #FF4500;       // Botões/destaque - laranja queimado que contrasta sem agredir


    @metal-base: #444343;
    @metal-dark: darken(@metal-base, 35%);
    @metal-light: lighten(@metal-base, 30%);
    @metal-shine: linear-gradient(
    145deg,
    @metal-light 0%,
    @metal-dark 25%,
    @metal-light 50%,
    @metal-dark 75%,
    @metal-light 100%
    );
    @metal-gradient: @metal-shine;




        @keyframes metalShine {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
    }

//variveis com auxilio da